# Ignorar ambiente virtual
venv/

# Ignorar notebooks cache
.ipynb_checkpoints/

# Ignorar arquivos temporários
__pycache__/
*.pyc

# Ignorar arquivos de sistema
.DS_Store

# Ignorar bases grandes opcionais
*.parquet
*.pkl
